<div class="card">
    <img src="https://i.pinimg.com/originals/f4/63/36/f463368f59cc4a21ee63b9e42fed04f4.jpg" alt="Axel" style="width:100%">
    <br />
    <div class="container">
      <h4><b>Kingdom Hearts</b></h4>
      <p>Axel, the Flurry of Dancing Flames (おどる火の風 Odoru Hi no Kaze?), is the Nobody of Lea, and Rank VIII of Organization XIII. He wields fire and enhances his weapons, twin Chakrams, with his pyrokinesis to unleash powerful rapid attacks. The Assassin Nobodies are under his control.</p>
    </div>
    <br />
    <div class="buttons">
      <form>
        <input type="image" src="https://image.flaticon.com/icons/svg/642/642782.svg" alt="Comment">
      </form>
      <form>
        <input type="image" src="https://image.flaticon.com/icons/svg/929/929468.svg" alt="Share">
      </form>
      <form>
        <input type="image" src="https://image.flaticon.com/icons/svg/1076/1076984.svg" alt="Like">
      </form>
    </div>
  </div>