<!-- Footer mitschwebend
<footer class="page-footer" style="position: fixed; bottom: 0px; width: 100%;">
    <div class="footer-copyright">
        <div class="container">
        © 2020 Copyright Text
        <a class="grey-text text-lighten-4 right" routerLink="#!" routerLinkActive="active">Impressum</a>
        </div>
      </div>
</footer>
-->

<footer class="page-footer">
  <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright Text
      <a class="grey-text text-lighten-4 right" routerLink="#!" routerLinkActive="active">Impressum</a>
      </div>
    </div>
</footer>