<div class="container">
  <!-- Page Content goes here -->


  <div *ngIf="videoPosts?.length > 0;else noVideos">
    <div class="row" *ngFor="let videopost of videoPosts">

      <div class="card">
        <div class="card-image">
          <!--<mat-video title="hallo" [preload]="true" src="{{videopost.path}}" ></mat-video>-->
          <video class="responsive-video" controls>
            <source src="{{videopost.path}}" type="video/mp4">
          </video>

          <!--<span class="card-title">{{videopost.title}}</span>-->
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>

    </div>
  </div>

  <ng-template #noVideos>
    <hr>
    <h5> Ther are no Posts existing</h5>
  </ng-template>

</div>


<video-upload-task></video-upload-task>