<div class="container">


  <!-- Add Button for the Admin mode -->
  <div style="margin: 30px;" *ngIf="isAdmin">
    <div class="center-align">
      <a (click)="openDialogNewItem()" class="btn-floating btn-large waves-effect "><i
          class="material-icons">add</i></a>
    </div>
  </div>

  <!-- Show all existing Videos -->
  <div *ngIf="videoPosts?.length > 0;else noVideos">
    <div class="row" *ngFor="let videopost of videoPosts">

      <div class="card grey darken-3">
        <div class="card-image">

          <video class="responsive-video" controls>
            <source src="{{videopost.path}}" type="video/mp4">
          </video>


        </div>
        <div class="card-content">
          <span style="color:aliceblue" class="card-title">{{videopost.title}}</span>
          <p style="color:aliceblue" class="card-content">{{videopost.description}}</p>
        </div>

        <!-- Show only when Admin is enabled WARNING CURRENTLY NEVER TRUE-->
        <div *ngIf="isAdmin" class="card-action">
          <a (click)="openDialogChangeItem(videopost)" class="waves-effect waves-light btn"><i
              class="material-icons left">edit</i>Bearbeiten</a>

        </div>
      </div>

    </div>
  </div>

  <ng-template #noVideos>
    <hr>
    <h5> Ther are no Posts existing</h5>
  </ng-template>

</div>