<nav>

    <!-- Navbar for Mobile Devices-->
    <div class="show-on-medium-and-down">
        <a href="Home" class="brand-logo center"><img src="https://image.flaticon.com/icons/svg/2934/2934660.svg"
                alt="Logo" class="Logo"></a>
        <ul id="slide-out" class="sidenav">
            <li>
                <a routerLink="Home" routerLinkActive="active">Home</a>
                <a routerLink="Images" routerLinkActive="active">Bilder</a>
                <a routerLink="Videos" routerLinkActive="active">Videos</a>
                <a routerLink="Texts" routerLinkActive="active">Texte</a>
            </li>
        </ul>

        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>

    <!-- Navbar for Desktop-->
    <div class="hide-on-med-and-down">
        <div class="navbar-fixed">
            <div class="nav-wrapper">

                <a href="Home" class="brand-logo center"><img
                        src="https://image.flaticon.com/icons/svg/2934/2934660.svg" alt="Logo" class="Logo"></a>

                <ul id="nav-mobile" class="left">
                    <li><a routerLink="./Home" routerLinkActive="active">Home</a></li>
                    <li><a routerLink="Images" routerLinkActive="active">Bilder</a></li>
                    <li><a routerLink="Videos" routerLinkActive="active">Videos</a></li>
                    <li><a routerLink="Texts" routerLinkActive="active">Texte</a></li>
                </ul>

                <ul id="nav-mobile" class="right">
                    <div *ngIf="auth.user$ | async; then authenticated else guest">
                        <!-- template will replace this div -->
                    </div>

                    <!-- Show Login Button -->
                    <ng-template #guest>
                        <li><a (click)="auth.googleSignin()">Login</a></li>
                    </ng-template>

                    <!-- Show when User is Authentificated-->
                    <ng-template #authenticated>
                        <div *ngIf="auth.user$ | async as user">
                            <img style="width: 46px;height: 46px;margin-right: 10px;border-radius: 50%;"
                                [src]="user.photoURL">
                            <li><a (click)="auth.signOut()" routerLinkActive="active">LogOut</a>
                            </li>
                        </div>
                    </ng-template>

                </ul>
            </div>

        </div>
    </div>
</nav>