.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    max-width: 500px;
    margin: auto;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }





.buttons {
position: relative;
width: 50%;
margin-left: 430px;
}

.buttons .btn {
position: absolute;
top: 10%;
left: 10%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
font-size: 1px;
padding: 12px 24px;
cursor: pointer;
border-radius: 5px;
max-width: 15%;
}

/*
.buttons .share {
position: absolute;
top: 10%;
left: 10%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
font-size: 1px;
padding: 12px 24px;
cursor: pointer;
border-radius: 5px;
max-width: 15%;
}
*/