<div class="nav">
    <div class="nav1">
        <a class="nav2" href="">Home</a>
        <a class="nav2" href="">Bilder</a>
        <a class="nav2" href="">Videos</a>
        <a class="nav2" href="">Texte</a>
        <a class="nav2" href="">Impressum</a>
    </div>
    <div class="navlogo">
        <a href="/">
         HIER LOGO EINFÜGEN
        </a>
    </div>
<div class="navadmin">
<button aria-label="Admin">Adminbereich</button>
</div>

<hr class="dashedline" >

</div>

<div class="bg">
<p>Hier steht Text</p>
</div>





