.nav{
    margin-top: 50px;
    display:flex;
    justify-content: space-between;
}
.nav2{
    margin: 10px;
    margin-top: 10px;
    text-align: left;
}
.navlogo{
    
    text-align: center;
}
.navadmin{
    margin-right: 10px;
    text-align: right;
}
