<body>
    
<div class="nav">
    <div class="nav1">
        <a class="nav2" href="">Home</a>
        <a class="nav2" href="">Bilder</a>
        <a class="nav2" href="">Videos</a>
        <a class="nav2" href="">Texte</a>
        
    </div>
    <div class="navlogo">
        <a href="/">
         HIER LOGO EINFÜGEN
        </a>
    </div>
<div class="navadmin">
    <button aria-label="Admin">Login</button>
</div>
    <hr class="dashedline" >
</div>

<div class="content">
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>    
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>
    <h1>Test Test</h1>

</div>

<div class="foot">
    <div class="foot1">
        <p>Weird at last 2020</p>
        <a href="">Impressum</a>
        <br>
        <a href="">Insta Icon</a>
        <a href="">Twitter Icon</a>
    </div>
</div>

</body>



