<mat-grid-list role="list" cols="3" rowHeight="2:1">

  <div *ngFor='let image of imagePost; let i = index'>
    <div *ngIf="i == 0 && isAdminLoggedIn">
      <mat-grid-tile (click)="onAddPicToCarouselClicked()">
        <h5>Add Post</h5><br />
        <!--<i id="addPicToCarousel" class="material-icons">add</i>-->
      </mat-grid-tile>
    </div>
    <mat-grid-tile (click)="onCardClick(image)" role="listitem">

      <img src={{image.path}}>
      <h1>Hallo ?</h1>
    </mat-grid-tile>
  </div>
</mat-grid-list>