<div *ngIf="administrator === true">
    <input type="file" (change)="fileChangeEvent($event)" />
  <br />
  <br />
  <button (click)="rotateLeft()">Rotate left</button>
  <button (click)="rotateRight()">Rotate right</button>
  <br />
  <br />
  <button (click)="resetImage()">Reset image</button>
  <br />
  <br />
  <input [(ngModel)]="rotation" placeholder="Rotation" type="number" (keyup)="updateRotation()" /> 
  <button (click)="zoomOut()">Zoom -</button> 
  <button (click)="zoomIn()">Zoom +</button>
  <button (click)="onSaveToCarousel()"> In Carousel hinzufügen </button>
  
  <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 3"
      format="png"
      [transform]="transform"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      [canvasRotation]="canvasRotation"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
  
  </div>