<app-carousel></app-carousel>

<div class="parallax-container">
    <div #parallax>
        <img src="https://images6.alphacoders.com/582/thumb-1920-582236.jpg">
    </div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in
            this
            case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="https://wallpaperaccess.com/full/191688.jpg"></div>
</div>




<div class="col s12 m7">
    <div class="card horizontal">
        <div class="card-image">
            <img src="https://i.pinimg.com/originals/f4/63/36/f463368f59cc4a21ee63b9e42fed04f4.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p class="flow-text"> I am a very simple card. I am good at containing small bits of information.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BBGEG21CGo0" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m5">
            <div class="card-panel teal">
                <span class="flow-text">I am a very simple card. I am good at containing small bits
                    of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is
                    called a
                    panel in other frameworks.
                    <hr />
                    <div class="flex">
                        <img class="rund"
                            src="https://i.pinimg.com/originals/91/95/9a/91959aca296fb0475153596ad3cb8ae2.jpg"
                            height="183" alt="">
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>