<app-carousel></app-carousel>


<div class="pics-and-videos">
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Bilder</span>
                    <p>Egal ob Fotos oder Zeichnungen, digital oder
                        traditionell, hier
                        kann man einige selbst
                        entworfene Stücke aus verschiedensten Genres betrachten.</p>
                </div>
                <div class="card-action">
                    <a routerLink="Images" routerLinkActive="active">See the pictures</a>
                </div>
            </div>
        </div>



        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Videos</span>
                    <p> Auch in Videos fließt viel Kreativität mit ein. Wie entsteht zum Beispiel eine Digitalzeichnung?
                        Hier findet ihr ein paar Beispiele für Speeddrawings und anderem.
                    </p>
                </div>
                <div class="card-action">
                    <a routerLink="Videos" routerLinkActive="active">See the videos</a>
                </div>
            </div>
        </div>

    </div>
</div>





<!--
<div class=card-container>
    <div class="container">
        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="https://i.pinimg.com/originals/f4/63/36/f463368f59cc4a21ee63b9e42fed04f4.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h1>Texte</h1>
                        <p class="flow-text"> I am a very simple card. I am good at containing small bits of
                            information.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->




<div class="parallax-container">
    <i class="material-icons" id="editParallaxButton" *ngIf="isAdminLoggedIn"
        (click)="onEditParallaxPictureClicked(1)">create</i>
    <div class="parallax">
        <div #parallax>
            <img src="{{images[0].path}}">
        </div>
    </div>
</div>
<div class="section white">
    <div class="row container">
        <!-- <h2 class="header">Texte</h2>  -->
        <p class="center-align" id="parallaxHeadText" class="flow text">
            Texte, Gedichte, Gedanken - neben den Bildern und Videos gibt es hier auch Selbstgeschriebenes zu sehen und
            durchstöbern.</p>
        <h4 class="center-align">"If there's a book that you want to read, but it hasn't been written yet, then you must
            write it."</h4>
        <br />
        <h5 id="authorParallax">~ Toni Morrison</h5>
    </div>
    <div id="showTexts">
        <a class="waves-effect waves-light btn" routerLink="Texts" routerLinkActive="active">See the videos</a>
    </div>
</div>
<div class="parallax-container">
    <i *ngIf="isAdminLoggedIn" class="material-icons" id="editParallaxButton"
        (click)="onEditParallaxPictureClicked(2)">create</i>
    <div class="parallax">
        <div #parallax2>
            <img src="{{images[1].path}}"></div>
    </div>
</div>


<!--
<div class="vid-container">
    <div class="container">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BBGEG21CGo0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>
-->


<div class="row-container">
    <div class="container">
        <div class="row">
            <div class="col s12 m5">
                <div class="card-panel teal">
                    <h4 class="center-align" id="headAboutMe">About me</h4>
                    <div class="center-align">
                        Hola!<br />
                        *waves shyly*<br />
                        Willkommen auf meiner Website! Mein Name ist Sarah, ich bin 20 Jahre alt und ein self-taught
                        Artist.
                        Meine Kreativität fließt dabei allerdings
                        nicht nur in Zeichnungen, sondern auch in Videos und Fotos.<br />
                        So: Thanks for checking me out :)<br />
                        Have fun!
                        <hr />
                        <div class="flex">
                            <img class="rund"
                                src="https://wallpapers.net/circle-of-trust-hd-wallpaper/download/400x400.jpg"
                                height="183" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>